<a href="https://colab.research.google.com/github/Raries16/AV-Jobathon-/blob/main/Jobathon_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
%cd /content/gdrive/My Drive/Jobathon

/content/gdrive/My Drive/Jobathon

In [14]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/96/3b/bb419654adcf7efff42ed8a3f84e50c8f236424b7ed1cc8ccd290852e003/catboost-0.24.4-cp37-none-manylinux1_x86_64.whl (65.7MB)
     |████████████████████████████████| 65.7MB 58kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Installing collected packages: catboost
Successfully installed catboost-0.24.4

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold, KFold
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier , GradientBoostingClassifier , ExtraTreesClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import warnings 
from sklearn.neighbors import KNeighborsClassifier
from catboost import CatBoostClassifier
from scipy.stats import mode
from sklearn.impute import SimpleImputer
warnings.filterwarnings('ignore')

In [80]:
train_data = pd.read_csv('train.csv')

In [81]:
train_data.isna().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [82]:
test_data = pd.read_csv('test.csv')

In [83]:
train_data.fillna('unknown',inplace=True)
test_data.fillna('unknown',inplace=True)

In [84]:
cols = ['Health Indicator','Holding_Policy_Duration','Holding_Policy_Type',
        'Accomodation_Type','Reco_Insurance_Type','Is_Spouse']

In [85]:
train_data['Region_Code_encoded'] , bins = pd.cut(train_data.Region_Code,bins=20,labels=[f'bin_{i}' for i in range(20) ],retbins=True)
test_data['Region_Code_encoded'] = pd.cut(test_data.Region_Code,bins=bins,labels=[f'bin_{i}' for i in range(20) ],retbins=False)

In [86]:
train_data.head()

   ID City_Code  Region_Code  ... Reco_Policy_Premium Response  Region_Code_encoded
0   1        C3         3213  ...             11628.0        0               bin_10
1   2        C5         1117  ...             30510.0        0                bin_3
2   3        C5         3732  ...              7450.0        1               bin_12
3   4       C24         4378  ...             17780.0        0               bin_14
4   5        C8         2190  ...             10404.0        0                bin_7

[5 rows x 15 columns]

In [87]:
for col in cols + ['City_Code','Region_Code_encoded']:
  encoder = LabelEncoder()
  train_data[col] = encoder.fit_transform(train_data[col].astype(str))
  test_data[col] =  encoder.transform(test_data[col].astype(str))
  try :
    m = encoder.transform(["unknown"])
  except :
    m = None
  
  if m is not None:
    train_data[col] = train_data[col].apply(lambda x: np.NaN if x == m[0] else x)
    test_data[col] = test_data[col].apply(lambda x: np.NaN if x == m[0] else x)

In [88]:
train_data.head()

   ID  City_Code  ...  Response  Region_Code_encoded
0   1         22  ...         0                    2
1   2         31  ...         0                   13
2   3         31  ...         1                    4
3   4         16  ...         0                    6
4   5         34  ...         0                   17

[5 rows x 15 columns]

In [89]:
cols = ['Health Indicator','Holding_Policy_Duration','Holding_Policy_Type']

merge = pd.concat([train_data,test_data])

In [90]:
for col in cols:
  X = merge[~merge[col].isna()].drop(['ID',*cols],axis=1)
  Y = merge[~merge[col].isna()][col]
  
  model = LGBMClassifier()
  model.fit(X.drop('Response',axis=1),Y) 
  
  merge['corrected'] = model.predict(merge.drop(['ID','Response',*cols],axis=1))

  merge[col] = merge.apply(lambda x: x['corrected'] if np.isnan(x[col]) else x[col],axis=1)

  merge.drop(['corrected'],axis=1,inplace=True)

In [91]:
X.head()

   City_Code  Region_Code  ...  Response  Region_Code_encoded
0         22         3213  ...       0.0                    2
2         31         3732  ...       1.0                    4
3         16         4378  ...       0.0                    6
4         34         2190  ...       0.0                   17
5         35         1785  ...       1.0                   15

[5 rows x 11 columns]

In [92]:
merge['comb_1'] = merge.City_Code.astype(str) + merge.Region_Code.astype(str)

In [93]:
merge.head()

   ID  City_Code  Region_Code  ...  Response  Region_Code_encoded  comb_1
0   1         22         3213  ...       0.0                    2  223213
1   2         31         1117  ...       0.0                   13  311117
2   3         31         3732  ...       1.0                    4  313732
3   4         16         4378  ...       0.0                    6  164378
4   5         34         2190  ...       0.0                   17  342190

[5 rows x 16 columns]

In [95]:
merge['comb_1'].value_counts(normalize = True)

151       0.001926
142       0.001541
1147      0.001486
05        0.001445
04        0.001403
            ...
315815    0.000014
45988     0.000014
125531    0.000014
315848    0.000014
325928    0.000014
Name: comb_1, Length: 5530, dtype: float64

In [96]:
merge['comb_1'] = merge['comb_1'].map(merge['comb_1'].value_counts(normalize=True))

In [97]:
merge.head()

   ID  City_Code  Region_Code  ...  Response  Region_Code_encoded    comb_1
0   1         22         3213  ...       0.0                    2  0.000138
1   2         31         1117  ...       0.0                   13  0.000289
2   3         31         3732  ...       1.0                    4  0.000110
3   4         16         4378  ...       0.0                    6  0.000069
4   5         34         2190  ...       0.0                   17  0.000193

[5 rows x 16 columns]

In [98]:
m = merge.groupby('Region_Code')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()

In [99]:
m.head()

   Region_Code          mean      max     min
0            1  12876.421429  33587.2  3642.0
1            2  13380.501786  34752.0  3456.0
2            4  20943.890196  39276.8  5128.0
3            5  18476.900952  38532.0  5152.0
4            6  15065.941176  36774.4  4792.0

In [100]:
m.columns = ['Region_Code'] + [f'Region_Code_Reco_Policy_Premium_{i}' for i in m.columns[1:]]

In [101]:
m.head()

   Region_Code  ...  Region_Code_Reco_Policy_Premium_min
0            1  ...                               3642.0
1            2  ...                               3456.0
2            4  ...                               5128.0
3            5  ...                               5152.0
4            6  ...                               4792.0

[5 rows x 4 columns]

In [102]:
merge = merge.merge(m,on="Region_Code",how="left")

In [103]:
merge.head()

   ID  ...  Region_Code_Reco_Policy_Premium_min
0   1  ...                               4002.0
1   2  ...                               4074.0
2   3  ...                               5344.0
3   4  ...                              10962.0
4   5  ...                               9328.0

[5 rows x 19 columns]

In [107]:
m= merge.groupby('comb_1')['Reco_Policy_Premium'].agg(['min' , 'max' , 'mean']).reset_index()
m.columns = ['comb_1'] + [f'comb_1_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m , on = 'comb_1' , how = 'left')

In [108]:
merge['comb_2'] = merge.City_Code.astype(str) + merge.Reco_Policy_Cat.astype(str)
merge['comb_2'] = merge['comb_2'].map(merge['comb_2'].value_counts(normalize = True))

In [110]:
m = merge.groupby('Reco_Policy_Cat')['Reco_Policy_Premium'].agg(['mean' , 'max' , 'min']).reset_index()
m.column = ['Reco_Policy_Cat'] + [f'Reco_Policy_Cat_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m, on = 'Reco_Policy_Cat' , how = 'left')

In [111]:
m = merge.groupby('comb_2')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_2'] + [f'comb_2_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_2",how="left")

In [112]:
merge['comb_3'] = merge.Region_Code.astype(str) + merge.Reco_Policy_Cat.astype(str) 
merge['comb_3'] = merge['comb_3'].map(merge['comb_3'].value_counts(normalize=True))

In [113]:
m = merge.groupby('comb_3')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_3'] + [f'comb_3_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_3",how="left")

In [114]:
merge['comb_4'] = merge.City_Code.astype(str) + merge.Reco_Policy_Cat.astype(str) + merge.Region_Code.astype(str) 
merge['comb_4'] = merge['comb_4'].map(merge['comb_4'].value_counts(normalize=True))

In [115]:
m = merge.groupby('comb_4')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_4'] + [f'comb_4_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_4",how="left")

In [116]:
m = merge.groupby('Region_Code')['Upper_Age'].agg(['mean']).reset_index()
m.columns = ['Region_Code'] + [f'Region_Code_Upper_Age_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="Region_Code",how="left")

In [117]:
merge['comb_5'] = merge.Reco_Policy_Cat.astype(str) + merge.Holding_Policy_Type.astype(str)
merge['comb_5'] = merge['comb_5'].map(merge['comb_5'].value_counts(normalize=True))

In [118]:
m = merge.groupby('comb_5')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_5'] + [f'comb_5_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_5",how="left")

In [119]:
m = merge.groupby('Reco_Policy_Cat')['Upper_Age'].agg(['mean']).reset_index()
m.columns = ['Reco_Policy_Cat'] + [f'Reco_Policy_Cat_Upper_Age_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="Reco_Policy_Cat",how="left")

In [120]:
merge['comb_6'] = merge.City_Code.astype(str) + merge.Holding_Policy_Type.astype(str)
merge['comb_6'] = merge['comb_6'].map(merge['comb_6'].value_counts(normalize=True))

In [121]:
m = merge.groupby('comb_6')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_6'] + [f'comb_6_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_6",how="left")

In [122]:
m = merge.groupby('Health Indicator')['Reco_Policy_Premium'].agg(['mean']).reset_index()
m.columns = ['Health Indicator'] + [f'Health Indicator_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="Health Indicator",how="left")

In [123]:
m = merge.groupby('Holding_Policy_Duration')['Reco_Policy_Premium'].agg(['mean']).reset_index()
m.columns = ['Holding_Policy_Duration'] + [f'Holding_Policy_Duration_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="Holding_Policy_Duration",how="left")

In [124]:
m = merge.groupby('Reco_Policy_Cat')['Region_Code'].agg(['nunique','count']).reset_index()
m.columns = ['Reco_Policy_Cat'] + [f'Reco_Policy_Cat_Region_Code_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="Reco_Policy_Cat",how="left")

In [125]:
merge['comb_7'] = merge.City_Code.astype(str) + merge.Holding_Policy_Duration.astype(str)
merge['comb_7'] = merge['comb_7'].map(merge['comb_7'].value_counts(normalize=True))

In [126]:
merge['comb_8'] = merge.City_Code.astype(str) + merge['Health Indicator'].astype(str)
merge['comb_8'] = merge['comb_8'].map(merge['comb_8'].value_counts(normalize=True))

In [127]:
merge['comb_9'] = merge.Reco_Policy_Cat.astype(str) + merge['Health Indicator'].astype(str)
merge['comb_9'] = merge['comb_9'].map(merge['comb_9'].value_counts(normalize=True))

In [128]:
m = merge.groupby('comb_7')['Reco_Policy_Premium'].agg(['mean','max','min']).reset_index()
m.columns = ['comb_7'] + [f'comb_7_Reco_Policy_Premium_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_7",how="left")

In [129]:
m = merge.groupby('comb_2')['comb_4'].agg(['nunique','count']).reset_index()
m.columns = ['comb_2'] + [f'comb_2_comb_4_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_2",how="left")

In [130]:
m = merge.groupby('comb_1')['comb_4'].agg(['nunique','count']).reset_index()
m.columns = ['comb_1'] + [f'comb_1_comb_4_{i}' for i in m.columns[1:]]
merge = merge.merge(m,on="comb_1",how="left")

In [131]:
train_data = merge[~merge.Response.isna()]
test_data = merge[merge.Response.isna()].drop('Response',axis=1)

train_data

          ID  City_Code  ...  comb_1_comb_4_nunique  comb_1_comb_4_count
0          1         22  ...                     10                 2130
1          2         31  ...                     19                 2163
2          3         31  ...                      8                 1712
3          4         16  ...                      5                 1145
4          5         34  ...                     14                 2576
...      ...        ...  ...                    ...                  ...
50877  50878         30  ...                     21                 1638
50878  50879         31  ...                      7                 1792
50879  50880          0  ...                     23                  961
50880  50881          0  ...                     10                  204
50881  50882         22  ...                      7                 1792

[50882 rows x 64 columns]

In [132]:
from sklearn.preprocessing import StandardScaler

X = train_data.drop(['Response','ID'],axis=1)
Y = train_data['Response']

folds = StratifiedKFold(n_splits=6,shuffle=True ,random_state=42)

final_preds = pd.DataFrame()
scores = []
best_score = 0

for i , (train_idx, test_idx) in enumerate(folds.split(X,Y)):
  train_set=(X.iloc[train_idx],Y.iloc[train_idx])
  test_set=(X.iloc[test_idx],Y.iloc[test_idx])

  model = LGBMClassifier(metric="auc",
                         learning_rate = 0.08,
                         n_estimators=5000,
                         num_leaves=20,
                         random_state=7,
                        #  subsample=0.95
                        #  reg_alpha=0.001,
                        #  reg_lambda=0.01
                         )
  model.fit(*train_set,
            eval_set=(test_set),
            verbose=500,
            early_stopping_rounds=500)
    
  preds = model.predict_proba(test_set[0])[:,1]
  score = roc_auc_score(test_set[1],preds)
  print("Score:: ",score)
  scores.append(score)

  if best_score < score:
    best_model = model
    best_score = score

  predictions = model.predict_proba(test_data.drop('ID',axis=1))[:,1]
  final_preds[i] = predictions

  # break

print('Mean Score',np.mean(scores))

Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.796243
Early stopping, best iteration is:
[124]	valid_0's auc: 0.800079
Score::  0.8000790159182961
Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.813354
Early stopping, best iteration is:
[313]	valid_0's auc: 0.814352
Score::  0.8143518522047842
Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.807679
Early stopping, best iteration is:
[191]	valid_0's auc: 0.811411
Score::  0.8114106421062235
Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.801383
Early stopping, best iteration is:
[125]	valid_0's auc: 0.803779
Score::  0.8037792853153598
Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.801038
Early stopping, best iteration is:
[291]	valid_0's auc: 0.80318
Score::  0.8031796547234871
Training until validation scores don't improve for 500 rounds.
[500]	valid_0's auc: 0.806028
Early stopping, best iteration is:
[214]	valid_0's auc: 0.808959
Score::  0.8089594623186556
Mean Score 0.8069599854311343

In [133]:
pd.DataFrame(list(zip(X.columns,best_model.feature_importances_))).sort_values(1,ascending=False)

                                      0    1
11                  Reco_Policy_Premium  271
16  Region_Code_Reco_Policy_Premium_min  219
38           Region_Code_Upper_Age_mean  193
1                           Region_Code  186
34                               comb_4  183
..                                  ...  ...
6                             Is_Spouse    8
3                   Reco_Insurance_Type    2
20     comb_1_Reco_Policy_Premium_min_y    0
21     comb_1_Reco_Policy_Premium_max_y    0
22    comb_1_Reco_Policy_Premium_mean_y    0

[62 rows x 2 columns]

In [134]:
submission = pd.DataFrame(np.mean(final_preds,axis=1),columns=['Response'])
submission['ID'] = test_data.ID.values
submission  = submission[['ID','Response']]

In [135]:
from sklearn.preprocessing import StandardScaler

X = train_data.drop(['Response','ID'],axis=1)
Y = train_data['Response']

folds = StratifiedKFold(n_splits=6,shuffle=True ,random_state=42)

final_preds = pd.DataFrame()
scores = []
best_score = 0

for i , (train_idx, test_idx) in enumerate(folds.split(X,Y)):
  train_set=(X.iloc[train_idx],Y.iloc[train_idx])
  test_set=(X.iloc[test_idx],Y.iloc[test_idx])

  model = CatBoostClassifier(eval_metric="AUC",
                            learning_rate = 0.08,
                            n_estimators=5000,
                            # num_leaves=20,
                            random_state=7,
                            #  subsample=0.95
                        #  reg_alpha=0.001,
                        #  reg_lambda=0.01
                         )
  model.fit(*train_set,
            eval_set=(test_set),
            verbose=500,
            early_stopping_rounds=500)
    
  preds = model.predict_proba(test_set[0])[:,1]
  score = roc_auc_score(test_set[1],preds)
  print("Score:: ",score)
  scores.append(score)

  if best_score < score:
    best_model = model
    best_score = score

  predictions = model.predict_proba(test_data.drop('ID',axis=1))[:,1]
  final_preds[i] = predictions

  # break

print('Mean Score',np.mean(scores))

0:	test: 0.7303666	best: 0.7303666 (0)	total: 90.7ms	remaining: 7m 33s
500:	test: 0.7995012	best: 0.8000017 (353)	total: 17.4s	remaining: 2m 36s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8000016771
bestIteration = 353

Shrink model to first 354 iterations.
Score::  0.800001677134783
0:	test: 0.7530897	best: 0.7530897 (0)	total: 39ms	remaining: 3m 15s
500:	test: 0.8115250	best: 0.8130276 (363)	total: 17.5s	remaining: 2m 36s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8130275637
bestIteration = 363

Shrink model to first 364 iterations.
Score::  0.8130275637101576
0:	test: 0.7377073	best: 0.7377073 (0)	total: 35ms	remaining: 2m 54s
500:	test: 0.8110431	best: 0.8112894 (331)	total: 17.6s	remaining: 2m 37s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8112893714
bestIteration = 331

Shrink model to first 332 iterations.
Score::  0.8112893714089763
0:	test: 0.7372677	best: 0.7372677 (0)	total: 33.5ms	remaining: 2m 47s
500:	test: 0.8030625	best: 0.8040747 (288)	total: 17.5s	remaining: 2m 37s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8040746974
bestIteration = 288

Shrink model to first 289 iterations.
Score::  0.8040746974494065
0:	test: 0.7392240	best: 0.7392240 (0)	total: 34.8ms	remaining: 2m 53s
500:	test: 0.8048810	best: 0.8051305 (445)	total: 17.4s	remaining: 2m 36s
1000:	test: 0.8016399	best: 0.8053059 (609)	total: 34.8s	remaining: 2m 18s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8053059054
bestIteration = 609

Shrink model to first 610 iterations.
Score::  0.8053059053834849
0:	test: 0.7381584	best: 0.7381584 (0)	total: 45.1ms	remaining: 3m 45s
500:	test: 0.8029095	best: 0.8045393 (274)	total: 17.5s	remaining: 2m 37s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.8045392596
bestIteration = 274

Shrink model to first 275 iterations.
Score::  0.8045392596207182
Mean Score 0.806373079117921

In [136]:
submission = pd.DataFrame(np.mean(final_preds,axis=1),columns=['Response'])
submission['ID'] = test_data.ID.values
submission  = submission[['ID','Response']]